
.side-bar {
	width: 80px;
	background-color: rgb(78 85 102);
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	top: 0px;
	left: 0px;
	bottom: 0px;

	.top-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 5px;

		.top-section-icon-holder {
			padding: 16px 0px;
			opacity: 0.4;
			transition: opacity 0.05s;
		}

		.top-section-icon-holder:hover {
			opacity: 1;
		}

		.top-section-icon-holder-logo {
			opacity: 1;
		}
	}

	.bottom-section-icon-holder {
		padding: 15px 0px;
		opacity: 0.4;
		transition: opacity 0.05s;
	}

	.bottom-section-icon-holder:hover {
		opacity: 1;
	}
}
