* {
	padding: 0px;
	margin: 0px;
}

body {
	margin: 60px 0px 0px 80px;
	padding: 0px 0px 5000px 0px;
}

.account-status {
	height: 340px;
	padding: 0px 20px 15px 20px;
	background-image: 		
		linear-gradient(
			to right bottom,
			rgba(0, 0, 0, 0.6),
			rgba(0, 44, 2, 0.6)),
		url( ../img/ds.jpeg );
	background-size: cover;
	background-position: top;

	.account-status-header {
		height: 70px;
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
		column-gap: 10px;

		.tribe {
			font-family: Roboto, Arial;
			font-size: 16px;
			font-weight: 600;
			color: darkgreen;
		}

		.name {
			font-family: Roboto, Arial;
			font-size: 18px;
			font-weight: 600;
			color: white;
		}

		.login {
			font-family: Roboto, Arial;
			font-size: 16px;
			font-weight: 500;
			color: white;
		}
	}

	.account-info {
		height: 220px;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		column-gap: 20px;

		.account-info-1,
		.account-info-2,
		.account-info-3 {
			flex: 1;
			height: 100%;
			border: none;
			border-radius: 5px;
			background-color: rgba(39, 39, 39, 0.9);
			padding: 0px 4%;
		}

		.account-info-1 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			
			.account-sub-info {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 10px 0px;
				.account-sub-info-right,
				.account-sub-info-left {
					font-family: Roboto, Arial;
					letter-spacing: 1px;
					font-weight: 400;
					font-size: 14px;
				}
				
				.account-sub-info-right {
					color: darkgreen;
				}
				
				.account-sub-info-left {
					font-weight: 300;
					color: white;
				}
			}
		}
		
		.account-info-2 {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-family: Roboto, Arial;
			color: white;
			font-size: 30px;
			letter-spacing: 2px;
		}
		
		.account-info-3 {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-family: Roboto, Arial;
			text-align: center;
			letter-spacing: 1.5px;

			.account-info-3-sub-1 {
				font-size: 14px;
				color: darkgreen;
				padding: 4px 0px;
			}
			.account-info-3-sub-2 {
				font-size: 30px;
				color: white;
				padding: 4px 0px;
			}
			.account-info-3-sub-3 {
				font-size: 20px;
				color: white;
				padding: 4px 0px;
			}
		}
	}

	.account-level {
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;

		.account-level-container-green {
			width: 90vw;
			height: 35px;
			border-radius: 5px 0px 0px 5px;
			background-color: darkgreen;
		}

		.account-level-container-gray {
			width: 10vw;
			height: 35px;
			border-radius: 0px 5px 5px 0px;
			background-color: rgba(39, 39, 39, 0.9);
		}

		.account-level-text {
			position: absolute;
			color: white;
			font-family: Roboto, Arial;
			font-weight: 300;
			font-size: 14px;
		}
	}
}