* {
	padding: 0px;
	margin: 0px;
}

:root {
	--background-color: rgb(249, 249, 251);
	--theme-color: rgb(39, 187, 183);
	--coalition-color: rgb(0, 186, 188);
}

body {
	margin: 60px 0px 0px 80px;
	padding: 0px;
	background-color: var(--background-color);
}
